.inputContainer {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.label {
    font-size: 1.5rem;
    padding-right: 1rem;
    margin-bottom: 1px;
    justify-content: center;
    align-items: center;


}

.input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #afc4da;
    color: #021728;
    justify-content: center;
    align-items: center;

}
