.ListItem {
  color: rgb(241 245 249);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d2333;
    border-radius: 4px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-items: space-between;
    padding: 1rem;
    margin-bottom: 1rem;      
}

.ListItem span {
    padding-right: 1rem;
    margin-bottom: 1px;
    justify-content: center;
    align-items: center;
    color: #afc4da;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.ListItem input[type='checkbox'] {
    appearance: none;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    background-color: #0d2333;
    border: 2px solid #afc4da;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1rem;
    align-items: center;
}

.ListItem input[type='checkbox']:checked {
    background-color: #afc4da; 
    align-items: center;
    justify-content: center;
    position: relative;


}

.ListItem input[type='checkbox']:checked:after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.25rem;
    border: 2px solid ;
    border-top: none;
    border-right: none;
    top: 0.25rem;
    left: 0.25rem;
    transform: rotate(-45deg);
    color: #021728; 
    align-items: center;
}

.ListItem button {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #021728;
    color: #afc4da;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    justify-content: left;
}

.listItem button:hover {
    background-color: #afc4da;
}

.buttonsContainer {
    display: flex;
    margin-left: auto;
  

}

@media (max-width: 768px) {
    .listItem {
        padding: 0.5rem;
    }

    .buttonsContainer {
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .listItem {
        padding: 0.25rem;
    }

    .buttonsContainer {
        padding: 0.5rem;
    }
}