.form {
  display: flex;
  background-color: #0d2333;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;

  }
  
  .form__input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
  }
  .addButton {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #afc4da;
    color: #021728;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
  }

  .addButton:hover {
    background-color: #021728;
    color: #afc4da;
  }