body {
    background-color: #02111e;
    color: rgb(241 245 249);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}

.heading {
    text-align:justify;
    margin: 0;
    padding: 1rem;
    color: rgb(241 245 249);
    margin-bottom: 2 rem;
    font-size: 2rem;
    text-align: center;
}

.nav-item {
    color: #afc4da;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    align-items: center;
    color: #495057;
    background-color: #fff;
    padding: 0.5rem;

}

button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #afc4da;
    color: #021728;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}

button:hover {
    background-color:#0c2232;
    color: #afc4da;
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.icon {
    margin-left: 0.5rem;
    cursor: pointer;
}