body {
    background-color: #02111e;
    color: rgb(241 245 249);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding-top: 4rem;
padding-bottom: 4rem;
padding-right: 2rem;
padding-left: 2rem;
}


.heading {
    color: #afc4da;
margin-bottom: 2rem;
}

.nav-item {
    color: #afc4da;
}

ul {
    padding: 0;
    list-style: none;
    align-items: left;

}

input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    align-items: center;
    color: #495057;
    background-color: #fff;
    padding: 0.5rem;

}

button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #afc4da;
    color: #021728;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    align-items: right;  
    justify-content:flex-end;

}

button:hover {
    background-color: #afc4da;
    color: #021728;
}

.icon {
    margin-left: 0.5rem;
    cursor: pointer;
}
.toggle-container {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 0;
    margin-left: 0;
    text-align: center;

}

.toggle-button {
    width: auto;
    text-align: center;
    background-color: #afc4da;
    color: #021728;
    font-size: 1rem;
    cursor: pointer;
    margin-right: auto;
    border-radius: 0.5rem;
    margin-left: 0;
    text-align: center;
    justify-content: flex-end;
}


@media (max-width: 480px) {
    body {
        padding: 1rem 0.5rem;

    }
    .heading {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    body {
        padding: 2rem 1rem;

    }
    .heading {
        font-size: 2rem;
    }
}