.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.label {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
